[MESSAGES CONTROL]
disable=invalid-name,
	locally-disabled,
	too-many-arguments,
	too-many-branches,
	too-many-locals,
	too-many-return-statements,
	too-many-nested-blocks,
	too-many-instance-attributes,
	too-many-lines,
	too-many-statements,
	logging-too-many-args,
	duplicate-code,

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100
